<div class="contenedor">
  <div class="categoria-container">
    <h1>Categorías de la pizzería</h1>

    <div class="products-grid">
      @for (categoria of categorias; track $index) {
      <div class="product-item">
        <h2 class="category-name" (click)="verProductos(categoria.nombre, categoria.marca)" style="cursor: pointer;">
          {{ categoria.nombre }}
        </h2>
        @if (categoria.imagen) {
        <div class="img-container horizontal-container" (click)="verProductos(categoria.nombre, categoria.marca)"
          style="cursor: pointer;">
          <img [src]="categoria.imagen" alt="Imagen de la Categoría" class="preview-img img-horizontal">
        </div>
        }
        <p class="category-description" (click)="verProductos(categoria.nombre, categoria.marca)"
          style="cursor: pointer;">
          {{ categoria.descripcion }}
        </p>
        <div class="actions">
          <button (click)="editCategoria(categoria)" class="edit-btn">Editar</button>
          <button (click)="deleteCategoria(categoria.id, categoria.nombre)" class="delete-btn">Eliminar</button>
        </div>
      </div>}
    </div>
    <button class="create-btn" (click)="abrirFormulario()">Añadir Nueva Categoría</button>
  </div>
</div>

@if (mostrarFormulario) {
<body class="modal-abierto"></body>
<div class="modal">
  <div class="form-modal">
    <h2 class="form-title">
      {{ selectedCategoria ? 'Editar Categoría' : 'Añadir Categoría' }}
    </h2>
    <form (ngSubmit)="saveCategoria()" class="form-container">
      <label>
        Nombre de la categoría:
        <input type="text" [(ngModel)]="formData.nombre" name="nombre" placeholder="Escriba el nombre de la categoria"
          required autocomplete="off" class="form-input">
      </label>

      <label>
        Descripción:
        <textarea [(ngModel)]="formData.descripcion" name="descripcion" placeholder="Escriba una descripcion" required
          class="form-input"></textarea>
      </label>
      <label>
        Imagen:
        <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-input">
      </label>
      <div class="marca-container" style="display: flex; align-items: center; gap: 10px;">
        <label class="label-text" style="margin-bottom: 0;">¿Contiene marcas?</label>
        <button type="button" (click)="toggleMarca()" class="marca-btn">
          @if (formData.marca) { <span>✔</span> }
        </button>
      </div>


      <div class="botones">
        <button type="submit" class="form-btn-verde">
          {{ selectedCategoria ? 'Actualizar' : 'Crear' }}
        </button>
        <button type="button" (click)="cancelEditCategoria()" class="form-btn-gris">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
}