<div class="contenedor">
  <div class="products-container">
    <h1 class="title">{{ nombreCategoria }}</h1>
    <div class="search-div">

      <div class="search-bar">
        <input type="text" [(ngModel)]="filtro" placeholder="Buscar..." class="search-input" />
        <div class="dropdown">
          <button class="dropdown-btn" (click)="mostrarOpciones = !mostrarOpciones">
            Buscar por: {{ filtroTipo }}
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <ul *ngIf="mostrarOpciones" class="dropdown-menu">
            <li (click)="cambiarFiltroTipo('nombre')">Nombre</li>
            <li (click)="cambiarFiltroTipo('caracteristica')">Característica</li>
            <li *ngIf="marcado" (click)="cambiarFiltroTipo('marca')">Marca</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="products-grid">
      <div class="product-item" *ngFor="let producto of productosFiltrados()">

        @if ((caracteristicasMap.get(producto.id)?.length || 0) > 0) {
        <h2 (click)="abrirFormularioCaracteristiscasProducto(producto)" class="product-name">
          {{ producto.nombre }}
        </h2>
        }
        @else {
        <h2 (click)="abrirFormularioAgregarCaracteristiscasProducto(producto)" class="product-name">
          {{ producto.nombre }}
        </h2>
        }

        <div *ngIf="producto.imagen">
          <div class="img-container horizontal-container">
            @if ((caracteristicasMap.get(producto.id)?.length || 0) > 0) {
            <img [src]="producto.imagen" alt="Imagen del producto"
              (click)="abrirFormularioCaracteristiscasProducto(producto)" class="preview-img img-horizontal">
            }
            @else {
            <img [src]="producto.imagen" alt="Imagen del producto"
              (click)="abrirFormularioAgregarCaracteristiscasProducto(producto)" class="preview-img img-horizontal">
            }
          </div>
        </div>
        <p class="product-description">
          {{ producto.descripcion }} - ${{ producto.precio }}
        </p>
        <div class="actions">
          <button (click)="editProducto(producto)" class="edit-btn">Editar</button>
          <button (click)="deleteProducto(producto.id)" class="delete-btn">Eliminar</button>
        </div>
      </div>
    </div>
    <div *ngIf="marcado">
      @if (marcas.length > 0) {
        <button class="create-btn-marca" (click)="abrirFormularioMarca()">Añadir una Marca</button>
      }
      @else {
        <button class="create-btn-marca" (click)="abrirFormularioAgregarMarca()">Añadir una Marca</button>
      }

    </div>
    <button class="create-btn" (click)="abrirFormularioProducto()">Añadir un nuevo Producto</button>
  </div>
</div>

<div *ngIf="mostrarFormularioProducto">

  <div class="modal">
    <div class="form-modal">
      <h2 class="form-title">
        {{ selectedProducto ? 'Editar Producto' : 'Añadir Producto' }}
      </h2>
      <form (ngSubmit)="saveProducto()" class="form-container">
        <label>
          Nombre del producto:
          <input type="text" [(ngModel)]="formData.nombre" name="nombre" placeholder="Escriba el nombre del producto"
            required autocomplete="off" class="form-input">
        </label>

        <label>
          Descripción:
          <textarea [(ngModel)]="formData.descripcion" name="descripcion" placeholder="Escriba una descripcion" required
            class="form-input"></textarea>
        </label>

        <div *ngIf="marcado" class="marca-container">
          <label>
            Marca:
            <input [(ngModel)]="selectedMarcaNombre" name="id_marca" type="text" (input)="filtrarMarcas()"
              (focus)="mostrarListaMarcas()" (blur)="ocultarListaConRetraso()"
              placeholder="Escriba o seleccione una marca" class="form-input" autocomplete="off" />
          </label>
          <ul *ngIf="mostrarLista" class="marcas-lista">
            <li *ngFor="let marca of marcasFiltradas" (click)="seleccionarMarca(marca.nombre)"
              (mousedown)="seleccionarMarca(marca.nombre)">
              {{ marca.nombre }}
            </li>
          </ul>
        </div>

        <label>
          Precio:
          <input type="number" [(ngModel)]="formData.precio" name="precio" required class="form-input">
        </label>

        <label>
          Imagen:
          <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-input">
        </label>

        <div class="botones">
          <button type="submit" class="form-btn-verde">
            {{ selectedProducto ? 'Actualizar' : 'Crear' }}
          </button>
          <button type="button" (click)="cancelEditProducto()" class="form-btn-gris">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="marcado">
  <div *ngIf="mostrarFormularioMarca">
    <div class="modal">
      <div class="form-modal">
        <h2 class="form-title">Marcas actuales</h2>
  
        <!-- Mostrar las marcas en una lista -->
        <ul class="lista-caracteristicas">
          <!-- Iteramos sobre las marcas usando marcaMap y mostramos su nombre -->
          <li *ngFor="let marca of marcas" class="caracteristica-item">
            <span><strong>{{ marca.nombre }}</strong></span>
  
            <!-- Acciones para editar o eliminar características -->
            <mat-icon (click)="editMarca(marca)" class="icon-edit">edit</mat-icon>
            <mat-icon (click)="deleteMarca(marca.id)" class="icon-x">cancel</mat-icon>
          </li>
        </ul>
  
        <!-- Botón para agregar nueva característica -->
        <button type="button" class="form-btn-verde-caracter" (click)="abrirFormularioAgregarMarca()">
          Agregar nueva característica
        </button>
  
        <!-- Botón para cerrar el formulario -->
        <button type="button" class="form-btn-gris-caracter" (click)="cerrarFormularioMarca()">
          Cerrar
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="mostrarFormularioAgregarMarca">

    <div class="modal">
      <div class="form-modal">
        <h2 class="form-title">
          {{ selectedMarca ? 'Editar Marca' : 'Crear Marca' }}
        </h2>

        <form (ngSubmit)="saveMarca()" class="form-container">
          <label>
            Nombre de la marca:
            <input type="text" [(ngModel)]="formMarca.nombre" name="nombre" placeholder="Escriba el nombre de la marca"
              required autocomplete="off" class="form-input">
          </label>

          <label>
            Tipo de Marca:
            <select [(ngModel)]="formMarca.tipos_marcas" name="tipos_marcas" required class="form-input"
              [disabled]="formMarca.tipos_marcas !== ''">
              <option value="" disabled>Seleccione un Tipo de Marca</option>
              <option *ngFor="let tiposMarca of tiposMarcas" [ngValue]="tiposMarca.id">
                {{ tiposMarca.nombre }}
              </option>
            </select>
          </label>

          <div class="botones">
            <button type="submit" class="form-btn-verde">
              {{ selectedMarca ? 'Actualizar' : 'Crear' }}
            </button>
            <button type="button" (click)="cancelEditMarca()" class="form-btn-gris">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

@if (mostrarFormularioCaracteristica) {
<ng-container>

  <div class="modal">
    <div class="form-modal">
      <h2 class="form-title">Características actuales</h2>
      <ul class="lista-caracteristicas">
        <li *ngFor="let c of caracteristicasMap.get(selectedProducto?.id) || []" class="caracteristica-item">
          <span><strong>{{ c.nombre_caracteristica }}:</strong> {{ c.valor_caracteristica }}</span>
          <mat-icon (click)="editCaracteristica(c)" class="icon-edit">edit</mat-icon>
          <mat-icon (click)="deleteCaracteristica(c.id)" class="icon-x">cancel</mat-icon>
        </li>
      </ul>

      <button type="button" class="form-btn-verde-caracter"
        (click)="abrirFormularioAgregarCaracteristiscasProducto(selectedProducto)">
        Agregar nueva característica
      </button>
      <button type="button" (click)="cancelarFormularioCaracteristica()" class="form-btn-gris-caracter">Cerrar</button>
    </div>
  </div>
</ng-container>
}


@else if (mostrarModalAgregarCaracteristica) {
<div class="modal">
  <div class="form-modal">
    <h2 class="form-title">Agregar Característica</h2>
    <form (ngSubmit)="saveCaracteristica()" class="form-container">
      <label>
        Nombre de la característica:
        <input type="text" [(ngModel)]="formCaracteristica.nombre_caracteristica" name="nombre_caracteristica"
          placeholder="Ej: Color, Tamaño, etc." required autocomplete="off" class="form-input">
      </label>

      <label>
        Valor de la característica:
        <input type="text" [(ngModel)]="formCaracteristica.valor_caracteristica" name="valor_caracteristica"
          placeholder="Ej: Rojo, Grande, etc." required autocomplete="off" class="form-input">
      </label>

      <div class="botones">
        <button type="submit" class="form-btn-verde">Guardar</button>
        <button type="button" (click)="cancelarAgregarFormularioCaracteristica()"
          class="form-btn-gris">Cancelar</button>
      </div>
    </form>
  </div>
</div>
}