<div class="contenedor">
  <div class="usuarios-container">
    @if(usuario?.rol === 'Administrador'){
    <h1>Administrador de la pizzería</h1>
    }
    @else if(usuario?.rol === 'Empleado'){
    <h1>Perfil del Empleado</h1>
    }

    <div class="info-admin">
      <p><strong>Usuario:</strong> {{ usuario?.usuario }}</p>
      <p><strong>Nombre:</strong> {{ usuario?.nombre }}</p>
      <p><strong>Apellido:</strong> {{ usuario?.apellido }}</p>
      <p><strong>Rol:</strong> {{ usuario?.rol }}</p>
      <p><strong>DNI:</strong> {{ usuario?.dni }}</p>
      <p><strong>Dirección:</strong> {{ usuario?.direccion }}</p>


      <p><strong>Teléfono:</strong> {{ usuario?.telefono }}</p>
      <button class="btn-verde" (click)="editarUsuario(usuario)">Editar usuario</button>
      <button class="btn-rojo" (click)="eliminarUsuario(usuario.id_usuario)">Eliminar usuario</button>

    </div>

    <!-- Contenido solo para administradores -->
    @if(usuario?.rol === 'Administrador'){

    <h2>Otros Usuarios</h2>
    <div class="info-admin">
      <button class="btn-azul" (click)="verOtros()">Ver otros usuarios</button>
    </div>
    }
  </div>
</div>

@if(mostrarFormulario){
<div class="modal">
  <div class="form-modal">
    @if (userSeleccionado) {
    <h2 class="form-title">Editar Usuario</h2>
    }
    <div class="form-container">
      <div class="form">
        <label>Usuario:
          <input type="text" class="form-input" name="usuario" placeholder="Escriba el Usuario"
            [(ngModel)]="nuevoEmpleado.usuario" autocomplete="off">
        </label>
        <label>Nombre:
          <input type="text" class="form-input" placeholder="Escriba los nombres del Usuario"
            [(ngModel)]="nuevoEmpleado.nombre" autocomplete="off">
        </label>
        <label>Apellido:
          <input type="text" class="form-input" placeholder="Escriba los apellidos del Usuario"
            [(ngModel)]="nuevoEmpleado.apellido" autocomplete="off">
        </label>
        <label>DNI:
          <input type="text" class="form-input" placeholder="Escriba el DNI Usuario" [(ngModel)]="nuevoEmpleado.dni"
            autocomplete="off">
        </label>
        <label>Dirección:
          <input type="text" class="form-input" placeholder="Escriba la direccion del Usuario"
            [(ngModel)]="nuevoEmpleado.direccion" autocomplete="off">
        </label>
        <label>Teléfono:
          <input type="text" class="form-input" placeholder="Escriba el telefono del Usuario"
            [(ngModel)]="nuevoEmpleado.telefono" autocomplete="off">
        </label>
        <label>Contraseña:
          @if (userSeleccionado) {
          <input type="password" class="form-input" placeholder="*********"
            [ngModel]="userSeleccionado ? '' : nuevoEmpleado.contrasena"
            (ngModelChange)="nuevoEmpleado.contrasena = $event" autocomplete="new-password">
          }
          @else {
          <input type="password" class="form-input" placeholder="Escriba la contraseña"
            [(ngModel)]="nuevoEmpleado.contrasena" autocomplete="new-password">
          }
        </label>
      </div>

      <div class="botones">
        <button class="form-btn-verde" (click)="guardarEmpleado()">Guardar</button>
        <button class="form-btn-gris" (click)="cerrarFormulario()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
}